Options +FollowSymLinks
RewriteEngine on
#the list of htaccess don't really have to use this.
RewriteRule ^View/(.*) view.profile.php?user=$1 [L]
RewriteRule ^Register register.php [L]
RewriteRule ^Login login.php [L]
RewriteRule ^Logout login.php?logout [L]
RewriteRule ^Users users.php [L]
RewriteRule ^ViewOnline users.php?list=online [L]
RewriteRule ^Main index.php [L]